@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #333;
}

.buttons {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  gap: 2em;
}
button {
  background-color: #555;
  color: #d1ffe7;
  border-color: #adeccb;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  font-weight: 300;
  padding: 12px;
  width: 150px;
  height: 100px;
}

.results {
  color: #d1ffe7;
  border: 2px solid #adeccb;
  border-radius: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 3em auto;
  padding: 12px;
  width: 550px;
}